.checkbox input[type="checkbox"]
  opacity: 0


.checkbox label
  position: relative
  display: inline-block
  color: $card-tinkoff-color
  font-size: 16px
  padding-left: 33px
  line-height: 24px

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/


.checkbox label::before,
.checkbox label::after
  position: absolute
  content: ""

  /*Needed for the line-height to take effect*/
  display: inline-block


/*Outer box of the fake checkbox*/
.checkbox label::before
  height: 18px
  width: 18px
  background-color: #ffffff
  border: 1px solid #9395A4
  border-radius: 3px
  left: 0


  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
   *to vertically center it.
   */
  top: 3px


/*Checkmark of the fake checkbox*/
.checkbox label::after
  height: 8px
  width: 12px
  border-left: 2px solid #ffffff
  border-bottom: 2px solid #ffffff

  transform: rotate(-45deg)

  left: 3px
  top: 6px


/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after
  content: none


/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after
  content: ""
.checkbox input[type="checkbox"]:checked + label::before
  background-color: #2F9A41
  border-color: #2F9A41


